<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>
            <main>
                <section class="section" id="perfil">
                    <div class="title">
                        <h3>
                            <%= title %>
                        </h3>
                    </div>
                    <div class="content">
                        <div class="name_content">
                            <div class="name">
                                Ariel Andrade
                            </div>
                            <div class="profile-description">
                                desarrollador web full stack
                            </div>
                        </div>
                        <div class="personal-description">
                            <img src="/images/default-avatar.png" alt="" class="avatar">
                            <p class="text-description">
                                Egresado del curso de Programaci贸n Web FullStack, brindado por la Fundaci贸n Formar en colaboraci贸n con Digital House. En busca de la capacitaci贸n constante y con un gran compromiso con los trabajos que se me asignan. 
                            </p>
                        </div>

                    </div>
                    <div class="btn-cv-content">
                        <img class="img" style="width: 40%;" src="/images/imgs-decoration/img-profile.png" alt="">
                        <a download class="btn-css btn-download" href="/docs/CV - Ariel Andrade.pdf" >
                            descargar CV
                        </a>
                    </div>
                </section>
            </main>
            <%- include('../partials/scripts.ejs') %>
    </body>

    </html>