.header {
  background-color: #000;
  left: 0;
  top: 0;
  width: 100%;
}

.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo{
  font-size: 0;
}

.logo img {
  width: 11rem;
}

.nav-toggle {
  background: none;
  border: none;
  color: var(--primary);
  cursor: pointer;
  font-size: 2rem;
  margin: 10px;
}

.nav-menu {
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  left: -100%;
  list-style: none;
  position: absolute;
  top: 55px;
  transition: left 0.3s;
  width: 100%;
  z-index: 1;
}

.nav-menu-item {
  border-bottom: 1px solid var(--primary);
  font-size: 18px;
  padding: 30px 0;
  text-transform: uppercase;
}

.nav-link {
  color: var(--primary);
  text-decoration: none;
}

.nav-menu-link {
  padding: 10px;
}

.nav-menu_visible {
  left: 0;
}

@media (min-width: 768px) {
  .nav-toggle {
    display: none;
  }

  .nav-menu {
    align-items: center;
    background: transparent;
    flex-direction: row;
    justify-content: end;
    left: 0;
    right: 100%;
    top: 0;
   position:static;
  }

  .nav-menu-item {
    border: none;
    font-size: 20px;
    padding: 10px 0;
  }

  .nav-menu-link {
    font-size: 1.5rem;
    padding: 10px;
  }

  .nav-menu-link:hover {
    background-color: var(--primary);
    color: var(--secondary);
    transition: 0.5s;
  }
}
