.form-login-container {
    width: 100%;
    align-items: center;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position:absolute;
    top: 0;
    background-color: transparent;
    display: none;
}

.form-login {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 1rem;
    border-radius: 1rem;

}
.form-login h3 {
    margin-bottom: 1rem;
    border-bottom: 3px solid var(--primary) ;
    font-size: 2rem;
    color: var(--secondary);
}

.form-login label {
 color: var(--secondary);
}

.btn-closed {
    position: relative;
    font-size: 2rem;
    color: var(--primary);
    top: 0;
    text-align: end;
    cursor: pointer;
}

