#contacto {
  background-color: var(--secondary);
}

#contacto a {
  color: var(--secondary);
  text-transform: none;
  font-size: 16px;
  font-weight: 400;
}

#contacto a:hover {
  color: var(--primary);
  text-transform: none;
}

.contact-wrapper {
  width: 95%;
  margin: 1rem;
}

.form-container {
  background: var(--light);
  border-radius: 1rem 1rem 0 0;
  color: var(--secondary);
  font-weight: bold;
  text-transform: capitalize;
}

.form-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-container form label {
  display: block;
}

.form-container form p {
  margin: 0;
  padding: 1em;
}

.form-container form .block {
  grid-column: 1 / 3;
}

.form-input {
  width: 100%;
  padding: 0.7em;
  border: none;
  outline: 0;
  color: #fff;
  border-bottom: 3px solid var(--primary);
}

.form-container form textarea {
  height: 10rem;
}

.form-container form button {
  background: var(--primary);
}

/* CONTACT INFO */
.contact-info {
  background: var(--dark);
  border-radius: 0 0 1rem 1rem;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.contact-info li,
.contact-info p {
  text-align: justify;
  margin: 1rem 0;
  color: var(--secondary)
}

@media (min-width: 768px) {
  .contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1.5fr;
  }
  .form-container {
    background: var(--light);
    border-radius: 1rem 0 0 1rem;

  }

  .contact-info {
    background: var(--dark);
    border-radius: 0 1rem 1rem 0;
    color: var(--secondary);
  }

  /*  .contact-info li,
  .contact-info p {
      margin: 1rem;
      
  } */
}
