<div class="card">

    <div class="card__inner">
        <div class="front face">

            <div class="return">
                <button class="flip btn ">descripcion</button>
            </div>

        </div>

        <div class="back face">
            <div class="heading">
                <h2>title</h2>
            </div>

            <p class="proyect-card-back-description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet alias et officiis iste voluptatem
                facilis, consectetur nihil delectus. Voluptatibus, alias.
            </p>

            <div class=" return">
                <i class="fa-solid fa-arrow-rotate-left undo flip"></i>
            </div>
        </div>
    </div>
</div>