<% designs.forEach(design => { %>
 <div class="card">

    <div class="card__inner">
        <div class="front face">
            <img style="width:100%;" src="/images/imgs-disgns/<%- design.image ? design.image : design.default %>" alt="">
            <div class="return">
                <button class="flip btn-css ">descripción</button>
            </div>

        </div>

        <div class="back face">
            <div class="heading">
                <h2><%- design.title %> </h2>
            </div>

            <p class="proyect-card-back-description">
                <%- design.description %>
            </p>

            <div class=" return">
                <i class="fa-solid fa-arrow-rotate-left undo flip"></i>
            </div>
        </div>
    </div>
</div>
<% }) %>