<header class="header">
    <nav class="nav">
        <a href="/" class="logo"><img src="/images/logo/Logo-portfolio-completo.svg" alt="logo" srcset=""></a>
        <div class="nav-toggle">
            <i id="burguerIcon" class="fas fa-bars"></i>
        </div>
        <ul class="nav-menu ">
            <li class="nav-menu-item">
                <a href="/portfolio/profile" class="nav-menu-link nav-link">perfil</a>
            </li>
            <li class="nav-menu-item">
                <a href="/portfolio/works" class="nav-menu-link nav-link">trabajos</a>
            </li>
            <li class="nav-menu-item">
                <a href="/portfolio/skills" class="nav-menu-link nav-link">conocimientos</a>
            </li>
            <li class="nav-menu-item">
                <a href="/portfolio/contact" class="nav-menu-link nav-link">contacto</a>
            </li>
        </ul>
    </nav>
</header>