<%- include('../partials/head.ejs') %>

<body>

    <main>

        <div id="form-add" class="form-add-container">

            
            <form class="form-add" id="addForm" action='/cuenta/iniciar-sesion' method="POST">
                
                <a href="/administrador/panel-administrador">
                    <div class="back-to-panel">
                        <i class="fa-solid fa-reply"></i>
                    </div>
                </a>
    
                <h3>Agregar Diseño</h3>
    
                <!-- image -->
                <label>imágen</label>
                <input type="file" class="form-input" src="" alt="">
    
                <!-- title -->
                <label>título</label>
                <input class="form-input" type="text" name="title" id="title">
                <span id="titleErrors"></span>
                <!--   <% if (locals.errors && errors.title) { %>
                <small class="text-error">
                    <%= errors.title.msg %>
                </small>
                <% } %> -->
    
                <!-- descripción -->
                <label>descripción</label>
                <input class="form-input" type="text" name="description" id="description">
                <span id="descriptionErrors"></span>
                <!-- <% if (locals.errors && errors.description) { %>
                        <small class="text-error">
                            <%= errors.description.msg %>
                        </small>
                        <% } %> -->
    
               
                <!-- button send -->
                <button class="btn btn-css btn-add" type="submit" value="log-in">Crear</button>
                <span id="submitErrors"></span>
    
            </form>
        </div>

    </main>

  </body>

  </html>